<div class="container">
  <h1>Welcome to bits</h1>
  <% if @login_fail %>
    <h2>Wrong user name or password!</h2>
  <%end%>
  <%if @user.nil? %>

    <form id="login" name="login" action="/login" method="post">
      <input id="email" name="email" type="email" placeholder="email@example.com" />
      <input id="pwd" type="password" name="password" placeholder="Password" /><br>
      <input id="button" type="submit" value="Login" />
    </form>

    <form id="signup" action="/signup" method="get">
      <button  name="signup" type="submit" value="sign_up">Sign Up</button>
    </form>

  <% else %>
    <h2>Welcome back <%= @user %>!</h2>
      <form id="url" action="/url" method="get" name="url">
        <input id="url" type="text" name="long_url" placeholder="http://example.com" /><br>
        <input id="button" type="submit" value="Submit" />
      </form>
      <form action="/logout" method="get">
      <button name="signup" type="submit" value="logout">Log Out</button>
    </form>

    <% @user_urls.each do |url| %>

      <li class="links">
        <a href="short/<%= url.long_url %>"><%= url.long_url %></a>
        <a href="short/<%= url.short_url %>"><%= url.short_url %></a>
      </li>

    <% end %>
  <% end %>
</div>
